* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(90deg, rgba(121,9,27,0.9822303921568627) 16%, rgba(9,9,121,1) 66%, rgba(255,148,58,1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
}

h1, span {
  color: rgb(57,115,103);
}

h1 {
  font-weight: 0, 500;
}

p {
  color: rgb(255, 255, 255)
}

#choose-board{
  margin: 1rem;
}

.gameBoard {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.sixteen {
  display: grid;
  grid-template-columns: repeat(4, 3rem);
  grid-template-columns: repeat(4, 3rem);
  gap: 2rem;
}

.thirty-six {
  display: grid;
  grid-template-columns: repeat(6, 3rem);
  grid-template-columns: repeat(6, 3rem);
  gap: 2rem;
}

.sixty-four {
  display: grid;
  grid-template-columns: repeat(8, 3rem);
  grid-template-columns: repeat(8, 3rem);
  gap: 2rem;
}

.hundred {
  display: grid;
  grid-template-columns: repeat(10, 3rem);
  grid-template-columns: repeat(10, 3rem);
  gap: 2rem;
}

.card {
  position: relative;
  transform-style: preserve-3d;
  transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow: rgba(0,0,0,0.2) 0px 5px 15px;
}

.front, .back {
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.front {
  position: relative;
  transform: rotateY(180deg);
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(57,115,103);
  backface-visibility: hidden;
}

.card-flip {
  transform: rotateY(180deg);
}

/* extra stuff, like a cool button */
#game-buttons {
  margin-top: 4.5rem;
}
button {
  animation: button 5s infinite linear;
  position: relative;

  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #FFF;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
  background-color: rgb(37,68,65);
  text-align: center;
  transition: all 0.2s;
}

button:hover{
  color: rgb(57,115,103);
  background-color: #FFF;
}

@keyframes button {
  0%{top:0em}
  40%{top:0em}
  43%{top:-0.9em}
  46%{top:0em}
  48%{top:-0.4em}
  50%{top:0em}
  100%{top:0em;}
}

@media all and (max-width:30em){
  button{
    display: block;
    margin: 0.4em auto;
  }
}